<form class="form-horizontal" action="/addNewChapter?=addNewChapter" method="post">

  <label for="title">title</label>
  <input type="text" class="form-control" name="title" value="">
  <label for="page">Page</label>
  <textarea name="page" rows="8" cols="80" class="form-control"></textarea>
  <button type="submit" name="btn btn-primary"class="btn btn-primary">clickMe</button>
</form>
