<h1 class="title">The Town of Tinker</h1>
<div class="topNav"></div>
<div class="paine">

</div>
<div class="bottomNavHolder">
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_beginning.svg" id="bottomNavFirstpage" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_back.svg" id="bottomNavBack" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_forward1.svg" id="bottomNavNext" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_LastPage.svg" id="bottomNavLastPage" class="navButton">Your browser does not support SVGs</object>
</div>
