 <img src="../public/Assets/LogoNew.svg" alt="" class="image">
    <div class="navbar is-dark" id='Navbar'>
              
         <div class='level-left'>
              <a href="/" class="navbar-item">Front page</a>
              <a href="/Archive" class="navbar-item">Archive</a>
              <a href="/newChapter" class="navbar-item">Add Chapter</a>
         </div>
      <div class="navbar-end">
          <form class="" action="/getChapter" method="post">
              <input type="text" name="title" value="" class="input is-large searchFix" placeholder="Search">
          </form>
        </div>
    </div>

    <div class="container">
    {{#each chaplist}}
      <div class="level-item">
        <div class="box is-small">
          <div class="box-content">
                <h1 id="title" class='title'>{{title}}</h1>
                <div class="bar"></div>
                <p id="page">{{page}}</p>
                 <div class="level-right bottomButtons">
        <form class="hiddenF" action="/deleteChapter" method="post">
        <input type="hidden" name="deleteThis" value="{{title}}">
        <button type="submit" name="btn btn-danger" class="button is-danger">Delete post</button>
      </form>
      <form class="hiddenF2" action="/FindUpdateChapter" method="post">
        <input type="hidden" name="updatetitle" value="{{title}}">
        <button type="submit" name="btn btn-warning" class="button is-warning">Edit post</button>
      </form>
    </div>
          </div>
        </div>
      </div>
    <br><br>
    {{/each}}
</div>