
<!-- <div class="bottomNavHolder" id="bottomNavHolder">
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_beginning1.svg" id="bottomNavFirstpage" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_back.svg" id="bottomNavBack" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_top.svg" id="bottomNavTop" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_forward1.svg" id="bottomNavNext" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_LastPage.svg" id="bottomNavLastPage" class="navButton"><a href="/index">a</a></object>
</div> -->

    {{#each chaplist}}
    <div class="paine" id="paine">
      <h1 id="title">{{title}}</h1>
      <div class="bar"></div>
    <p id="page">{{page}}</p>
    </div>
    <form class="hiddenF" action="/deleteChapter" method="post">
      <input type="hidden" name="extra_sub" value= "{{title}}">
      <button type="submit" name="btn btn-danger" class="btn btn-danger">Delete post</button>
    </form>
    <br><br>
    {{/each}}
