<h1 class="title">The Town of Tenker</h1>
<div class="topNav"></div>
<div class="bottomNavHolder" id="bottomNavHolder">
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_beginning1.svg" id="bottomNavFirstpage" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_back.svg" id="bottomNavBack" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_top.svg" id="bottomNavTop" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_forward1.svg" id="bottomNavNext" class="navButton">Your browser does not support SVGs</object>
  <object type="image/svg+xml" data="/public/Assets/bottom_nav_LastPage.svg" id="bottomNavLastPage" class="navButton"><a href="/index">a</a></object>
</div>
<div class="paine" id="paine">
  <h1>Chapt. 0</h1>
  <hr>
<p>It had been 2 months since the howling winds of winter’s fury began to pray on the small mining village of Grim, and its effects were ever present. Though it was normally a chilly highland village throughout most of the year, it was winter where this diminutive village faced its biggest threat: the chilling cold. Though many choose to hibernate till the first of the summer solstice, it was the warm roaring fire, and intoxicating liquors that enticed both villagers and travelers alike to the New Candle inn.  It was here that the frostbitten gathered, away from the frigid reality that await them at closing time.Many who resided within its stony weathered walls were regulars, but one guest in particular seemed to stand out of the crowd. He did not buy anything, nor did he mingle with the rest of the crowd. He simply gazed happily into the Hearth, as if the cracking of its fire were the words of an old friend.Most ignored the man, going about their business in other parts of the Inn, but  one person in particular took interest in the silent patron, after all it was her job. The purpose of an Inn is to provide its guest with the best comfort their money could buy and Marin, being a member of the staff, was having a difficult time fulfilling such a purpose. Each time she approached the man, offering an assortment of heavy brews and delicious food, the old man simply declined and went back to his business. This cycle continued for a number hours till Marin,lacking the patience that comes with bar-tending a number of years, confronted the man about his fickle nature.
"The fire is quite lovely and all, but you can't just sit here and not get anything," Marin explained,"this place is for paying customers only, so unless you have business here then-"
. Before Marin could finish berating the old man she was interrupted by a voice that was, surprisingly enough, was coming from her difficult patron.
"The impatience that comes with youth never ceases to amazing me " said the old man,"never the less, if what you say is true then i simply ask for your time".
"Time," said Marin,'"you sat here all night looking at that fire and ignoring my service, and now you ask for my time, specifically."
 Marin was generally annoyed by the man's request but this being the only time the man had turned address her, she now had  chance to look at him. From what she could tell the old man was in his 50s, had deep blue eyes, and to her surprise light brown skin. His clothing was what you would expect from a traveler with the exception of one thing.he wore makeshift cloak that bared an insignia that Marin could just barely make out,  White leafs that  surrounded a crescent moon. The insignia was foreign to Marin, much like the man himself, but it was enough to draw the interest of both Marin and the now invested Bar patrons.Her earlier outburst had drawn attention to the the both of them, and now the whole Inn were watching the act play out.

"It seems that we have drawn a crowd,"said the old man," I was hoping to get some sleep before doing this but, you've given me a audience and I love to perform."

Marin, still annoyed by the man’s earlier responds, began to address him about his strange actions , but before she could reprimanded him he stood up and turned to address the now attentive crowd.

"Actually," said the old man,"I Ask for  a bit of everyone's time."

The old man paused for a while as to look for any objections and then continued.

"My Name is Thorzin Halbrook, and  i am a herald for Tenker, a new town residing In the heart of the continent."

 Thorzin  paused from addressing the drunken crowd, focusing his attention on the barkeep."A round on me for everyone, courtesy of the city of Tenker."The crowd seemed unaffected by the courteous gesture and only grew more cautious about the wealthy old man,which worried Marin. Grim was a mining town built on the backs of those who fate deemed expendable and unimportant. To say that the town was poor was putting it softly. So when a noble from a far away land comes into a bar and starts mouthing of about the size of his coffers, it attracts attention, usually the bad kind.

Marin whispered to the old man, “Im sure you mean well and all but doing that sort of thing around here is pretty uncommon and can get you in alot-”

before Marin could finish Thorzin continued to address the crowd.

“People of Grim, I have come on a journey from a great city to bring you an offer few would refuse.  The city of Bueton is of need  for people such as yourselves to help build its foundations.We are looking for anyone with any skillset to make Tenker the crown jewel of Nimric.”
Thorzin finished what he believed to be a rousing speech, completely unaware of the situation he had put both him and his concerned waitress into.No one in the crowd answered Thorzin’s call but he had made an impression. The bar was quieter, patrons spoke in hushed whispers, and the air grew thick with nauseating tension. Marin had seen this happen before, after all, she was a local.She had found many people lying faced down in the back alleys of Grimm.Some foolish travelers, others...more important.The moment Thorzin had shown his wealth to the coal tarted crowd, Grimm had decided how his stay would end and the new candle, once a bastion for the cold and downtroughten, became a den for the hopeful,the hungry


<br><br>and the greedy.</p>
</div>
