<form class="form-horizontal" action="/UpdateChapter" method="post" id="newChapForm">
  <input type="text" name="updateTitle" value="{{title}}" class="form-control" readonly>
  <textarea name="updatePage" rows="40" cols="80" class="form-control">{{page}}</textarea>
  <button type="submit"class="btn btn-primary">Update Chapter</button>
</form>
