@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lora');
body {
    margin: 0;
    padding: 0;
    background: #274690;
}

a {
    text-decoration: none;
}


/*Id styles*/

#page {
    margin: 10px;
    letter-spacing: 1px;
}

#img {
    height: 100%;
    display: block;
}

#newChapForm {
    margin: 20px;
}

#Searchbar {
    float: right;
}


/*Class styles*/

.title_container {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    color: #F5F3F5;
    background-color: #1B264F;
    /*padding: 50px;*/
    padding-top: 20px;
    margin: 20px;
    font-size: 55pt;
}

.page_title {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

.header {
    background-color: #7BCB84;
}

.paine {
    min-height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    min-width: 300px;
    background-color: #F5F3F5;
    border: 10px solid #302B27;
    max-width: 500px;
    font-size: 12pt;
    font-weight: 600;
    font-family: 'Lora', serif;
}

.bar {
    height: 5px;
    background: #0d0d0d;
    margin: 5px;
}

.Nav-container {
    background-color: #302B27;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.navElement {
    text-decoration: none;
    color: #F5F3F5;
    background: #302B27;
    border-style: solid;
    font-family: 'Cinzel Decorative', cursive;
    border-color: #000000;
    padding: 14px;
    margin-left: 10px;
}

.topNav {
    display: inline;
}

.bottomButtons {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.hiddenF {
    display: flex;
}

.hiddenF2 {
    display: flex;
}

.link {
    padding: 0;
    border-style: none;
    color: #F5F3F5;
    background-color: inherit;
    font-size: 24pt;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}


/*Media queries*/

@media (max-width:450px) {
    .navButton {
        width: 60px;
        left: 30px;
    }
    .topNav {
        height: 50px;
        display: flex;
        align-content: flex-end;
    }
    .navElement {
        padding-bottom: 30px;
        padding-left: 6px;
        padding-right: 6px;
        display: flex;
        margin-right: 5px;
    }
    #Searchbar {
        display: none;
    }
    #SearchMobile {
        visibility: visible;
        min-width: 200px;
        height: auto;
    }
    .paine {
        font-size: 12pt;
    }
    .bottomButtons {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
}

@media (min-width:500px) {
    #Searchbar {
        display: inline;
    }
    #SearchMobile {
        visibility: hidden;
    }
    .title {
        margin: auto;
    }
    .paine {
        max-width: 800px;
    }
}