@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lora');
.title{
/*font-family: 'Alegreya','serif';*/
font-family: 'Cinzel Decorative', cursive;
/*font-family: 'Ruslan Display', cursive;*/
font-weight: bold;
color: white;
background-color: #657d9d;
padding: 50px;
margin-top: 0;
margin-bottom: 0;
}
body{
    margin: 0;
    padding: 0;
  background-color: #657d9d;
}
.bottomNavHolder{
  background-color: #4b3a1e;
  width: 100%;
}
.paine{
  min-height: 200px;
  width: 100%;
  min-width: 300px;
  background-color: #F0f0f0;
  border-style: solid;
  max-width: 500px;
  font-size: 16pt;
  font-family: 'Lora', serif;
}
.topNav{
  background-color: #4b3a1e;
  width: 100%;
  /*border-radius: 10px 10px 10px 10px;*/
  height: 30px;
}
.navButton{
  max-width: 80px;
  width: 100%;
  position: relative;
  left: 10px;
  margin-left: 10px;
}
/*
}
.bar{
background-color: #4b3a1e;
height: 50px;
margin-top: 0;
margin-bottom: 10px;
}

.navbar{
  display: inline;
  width: 100%;
  color: white;

  background-color: #c4b526;

}
.linkelement{
  background-color: #c4b526;
  font-family: 'Cabin','sans-serif';
  /*font-size: 18px;*/
  /*border-radius: 10px 10px 10px 10px;
  margin-top: 0;
  border-style: none;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.bottom{
font-family: 'Lora', serif;
font-size: 16pt;
background-color: #F0f0f0;
width: 100%;
max-width: 500px;
border-radius: 10px 10px 10px 10px;
margin-bottom: 0;
}
.circle1{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #657d9d;
}
.circle2{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #4b3a1e;
}
.circle3{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #c4b526;
}
  .circle4{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F0f0f0;
  }
  .circle5{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #588b69;
  }*/
